* {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

body {
  margin: 0px;
  overscroll-behavior-y: none;

}


p {
  margin-top: 0px;
}

.btn {
  align-items: center;
  // background-color: $color-pink;
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 4px;
  padding: 15px 30px;
  text-transform: uppercase;

  &:hover {
    background-color: white;
    // color: $color-pink;
    cursor: pointer;
  }
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    // color: $color-purple-light
  }
}



.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 15px;
  width: 100%;
}



@media(min-width: 768px) {

  .container {
    padding: 80px 40px;
  }

}

h1 {
  font-size: 45px;
  line-height: 55px;
}

h1,
h2 {
  margin: 0;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

p {
  font-size: 14px;
  margin: 0;
}

.pinned>section {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  top: 0;
  left: 0;
}

section {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 15px;
}


@media (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 80px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
    line-height: 50px;
  }
}


@media (min-width: 992px) {
  h1 {
    font-size: 120px;
    line-height: 180px;
  }

  h2 {
    font-size: 70px;
  }

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  section {
    padding: 50px 50px 0px;
  }
}