@font-face {
    font-family: 'Lato';
    font-weight: 700;
    src:   url('$lib/fonts/Lato-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src:   url('$lib/fonts/Lato-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Lato';
    font-weight: 300;
    src:   url('$lib/fonts/Lato-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src:   url('$lib/fonts/Montserrat-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src:   url('$lib/fonts/Montserrat-Medium.ttf') format('truetype')
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src:   url('$lib/fonts/Montserrat-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src:   url('$lib/fonts/Montserrat-Light.ttf') format('truetype')
}