$color-blue-light: #49629b;
$color-blue-medium: #20232c;
$color-blue-dark: #191c23;

$color-purple-light: #7a89ab;
$color-purple-dark: #667084;

$color-white: #ffffff;
$color-grey: #ebeced;
$color-pink: #f9225b;

$color-pink-light: #D27E8A;
$color-pink-dark: #C95D63;