@import '../../../variables.scss';

:host {
    background-color: $color-grey;
}

.section__title {
    color: black;
}

.section__subtitle {
    color: $color-purple-dark;
}

.section__divider {
    border-color: $color-purple-light;
}



.section__grid {
    // align-self: center;
    align-items: center;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    width: 100%;
}


.section__block {
    background-color: $color-pink;
    background-size: cover;
    background-position: center;
    margin: 10px 0px;
    width: 100%;
}

@media(min-width: 768px) {
    .section__block {
        
        width: calc(50% - 15px);

        &:nth-child(even) {
            margin-left: 15px;
        }

        &:nth-child(odd) {
            margin-right: 15px;
        }
    }

}

@media(min-width: 992px) {
    .section__block {
        height: 350px;
        margin: 15px;
        width: 350px;
    }
    
}