
<div class='section '>
    <div class='section__heading'>
        <div class='section__title'>{{title}}</div>
        <div class='section__subtitle'>{{subtitle}}</div>
        <div class='section__divider'></div>
    </div>
    <div class='section__grid'>
        <div class='section__block' *ngFor='let block of blocks' [style.backgroundImage]='"url(/assets/images/" + block.tile + ")"' (click)='transitionToWork(block.id)'></div>
    </div>
    <!-- <div class='btn'>View All Work</div> -->
</div>