<div class='block__info section'>
    <div class='section__heading'>
        <div class='section__title'>{{title}}</div>
        <div class='section__subtitle'>{{subtitle}}</div>
        <div class='section__divider'></div>
    </div>
    
    <div class='block__content'>
        <div class='block__block'>
            <div class='block__body' [innerHTML]='content.body'></div>
        </div>
        <div class='block__block'>
            <div class='block__box'>
                <div class='block__fact' *ngIf='content.role'>
                    <div class='block__label'>Role</div>
                    <div class='block__value'>{{content.role}}</div>
                </div>
                <div class='block__fact'>
                    <div class='block__label'>Skills Needed</div>
                    <div class='block__value'>{{content.skills}}</div>
                </div>
                <div class='block__fact' *ngIf='content.employer'>
                    <div class='block__label'>Employer</div>
                    <div class='block__value'>{{content.employer}}</div>
                </div>
                <div class='block__fact' *ngIf='content.client'>
                    <div class='block__label'>Client</div>
                    <div class='block__value'>{{content.client}}</div>
                </div>
                
                <div class='btn' (click)='openLink()'>{{content.ctaText}}</div>
            </div>
            
        </div>
    </div>

</div>
