@import '../../../variables.scss';

:host {
    background-color: $color-blue-dark;
}

.section__promos {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

app-promo {
    flex-grow: 1;
}

.section__body {
    align-self: center;
    margin-bottom: 80px;
    max-width: 70%;
    
}