<div class='home__container'>
    <div class='home__landing'>
        <div class='home__content'>
            <div class='home__eyebrow'>Courtney Ring</div>
            <div class='home__title'>Web Developer</div>
            <div class='home__subtitle'>Bringing digital solutions to marketing and creativity to technology. </div>
        </div>
        
    </div>
</div>

<div class='home__sections'>

    <!------------------ About Me ------------------->
    <app-section-text [title]='"About Me"' [subtitle]='"Developer focused on Marketing and Advertising"'>
        <p> Hi there - my name is Courtney Ring and I'm a web developer based in New York City. I have over 6 years of professional experience at a variety of companies ranging from a small startup to a fortune 100 corporation. I really enjoy getting my hands on new projects to figure out innovative solutions and I thrive on working toward deadlines, giving me that feeling of accomplishment when projects are deployed. </p>
        <p>My professional life has been 100% driven by my passion for marketing and advertising in the digital world. I started my career at Cigna working on their public facing websites to attract and inform potential clients and customers. After two years, I said goodbye to Cigna and moved to New York for my first gig in the agency world. I accepted a role at <a href='http://www.vaynerx.com' target='_blank'>VaynerX</a> as a frontend developer on the adtech team. While I worked there, my biggest contribution was developing a user interface that was both beautiful and usable, including the incorporation of data visualization and mobile responsiveness. As much as I enjoyed the role, I had a longing to expand my skills past frontend development, which led me to my current role at <a href='http://www.imagination.com' target='_blank'>Imagination</a>. 
        </p>
        <p>My current role gives me the opportunity to develop across many different technologies, clients, and experiences. My projects have ranged from onsite event user tracking to at-home AR experiences to. The role also allows me to wear multiple hats as I help out in project management and onsite support when needed.</p>
        <p>Right now, I'm excited to continue to learn new languages and technologies. I want to continue to expand my knowledge and experiences as much as possible to become a better-rounded developer.</p>
    </app-section-text>




    <!------------------ Skills ------------------->
    <!-- <app-section-promos [title]='"Why Work With Me"' [subtitle]='"development • devops • content management"' [promos]='skillAreas'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</app-section-promos> -->


    <!------------------ Skills ------------------->
    <!-- <app-section-grid [title]='"Recent Work"' [subtitle]='"WEB • mobile"' [blocks]='recentWork'></app-section-grid> -->

    <!------------------ Contact ------------------->
    <!-- <app-section-contact [title]='"Let&apos;s Work Together"' [subtitle]='"Tell me more about your project"'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliq</app-section-contact> -->

</div>