<div class='home__container'>
    <div class='home__landing'>
        <div class='home__content'>
            <div class='home__eyebrow'>Courtney Ring</div>
            <div class='home__title'>Prince Web Studio</div>
            <div class='home__subtitle'>Bring digital to marketing and marketing to digital</div>
        </div>
        
    </div>
</div>

<div class='home__sections'>

    <!------------------ About Me ------------------->
    <app-section-text [title]='"About Me"' [subtitle]='"UI/UX Expert"'>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
    </app-section-text>




    <!------------------ Skills ------------------->
    <app-section-promos [title]='"Why Work With Me"' [subtitle]='"WEB • BRANDING • UX/UI"' [promos]='skillAreas'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</app-section-promos>


    <!------------------ Skills ------------------->
    <app-section-grid [title]='"Recent Work"' [subtitle]='"WEB • BRANDING • UX/UI"' [blocks]='recentWork'></app-section-grid>

</div>