<div class='section '>
    <div class='section__heading'>
        <div class='section__title'>{{title}}</div>
        <div class='section__subtitle'>{{subtitle}}</div>
        <div class='section__divider'></div>
    </div>
    <div class='section__body'>
        <ng-content></ng-content>
    </div>
    <div class='section__form'>
        <input class='section__input' placeholder='Name'/>
        <input class='section__input' placeholder='Email'/>
        <input class='section__input' placeholder='Phone'/>
    </div>
   
</div>