@import '../../../variables.scss';

:host {
    background-color: $color-blue-light;
}

.section__subtitle {
    color: white;
}

.section__body {
    color: white;
}

.section__form {
    display: flex;
    flex-direction: column;

    
}

.section__input {
    border: 0px;
    outline: none;

    &::placeholder {
        
        text-transform: uppercase;
    }
}